.bg-01 {
    background-color: #3F5D7D;
}

.bg-02 {
    background-color: #A6B1C0;
}

.bg-03 {
    background-color: #D5E1F2;
}

.bg-04 {
    background-color: #F2F4F7;
}

.trapezoid {
    border-left: 20px solid white; 
    border-right: 20px solid white; 
    border-bottom: 35px solid #3F5D7D;   
    line-height: 1.5;
}