.trapezoid {
    border-left: 20px solid white; 
    border-right: 20px solid white; 
    border-bottom: 35px solid #3F5D7D;   
    line-height: 1.5;
}

.ant-pagination-item-active {
    background-color: inherit !important;
    border: none !important;
}