.trapezoid {
    border-left: 20px solid white; 
    border-right: 20px solid white; 
    border-bottom: 35px solid #3F5D7D;   
    line-height: 1.5;
}

.ant-pagination-item:hover {
    background: none !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-pagination .ant-pagination-item{
    height: auto !important;
}

.ant-pagination-item-active {
    background-color: inherit !important;
    border: none !important;
}

.my-scr::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.my-scr::-webkit-scrollbar-thumb {
    background-color: rgb(166, 177, 192);
    border-radius: 10px;
}

.my-scr::-webkit-scrollbar-track {
    background-color: rgb(224,224,224);
    border-bottom-right-radius: 4px;
}

.input-classnumber::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ant-picker-suffix {
    padding-inline: 20px;
    height: 100%;
    background-color: #3F5D7D;
    color: white !important;
    pointer-events: auto !important;
    cursor: pointer !important; 
    transition: all 0.15s;
}

.ant-picker-suffix:hover {
    background-color: #5f80a3 !important;
}

.ant-picker-suffix:hover + .ant-picker-clear {
    background-color: #5f80a3 !important;
}

.ant-picker-suffix:active {
    background-color: #334961;
}

.ant-picker-clear {
    background-color: #3F5D7D !important;
    color: white !important;
    width: 14px !important;
    margin-right: 9px;
}

.ant-picker-range input {
    padding: 8px 10px !important;
    font-size: 14px !important;
}

div.ant-picker-range {
    padding: 0 !important;
}

div.ant-picker-input > input {
    height: 100% !important;
    display: flex;
    padding: 7px 10px !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-picker .ant-picker-input {
    display: flex !important;
    height: 100% !important;
    width: 100%;
}

.ant-picker-input > .ant-picker-clear {
    margin-right: 20px;
}